
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>Raporty</h1>
</head>
<body>
    <div>
        @Html.ActionLink("Miasta w których istnieją hotele, placówki i odbywają się zwiedzania", "Miasta", "Hotele") <br />
    </div>
</body>
</html>