




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>Raporty</h1>
</head>
<body>
    <div>
        @Html.ActionLink("Wycieczki w których liczba osób w rezerwacji była mniejsza niż wielkość pokoju.", "Wycieczki_raport", "Wycieczkas") <br />
    </div>
    <div>
        @Html.ActionLink("Najczęściej odwiedzane państwo w ostatnim miesiącu.", "NajczestszePanstwa", "Wycieczkas") <br />
    </div>
    <div>
        @Html.ActionLink("Wszyscy pracownicy, którzy przez miesiąc nie są w stanie zarobić na średnią wycieczke.", "Biedacy", "Pracowniks") <br />
    </div>
</body>
</html>